.pinduoduoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  &__redEnvelope {
    width: 100%;
    height: 100vh;
    position: relative;
    scrollbar-width: none;
  }
}
