.primeiraWrapper {
  width: toRem(470);
  height: toRem(42);
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 5;
}

.primeiraTitleContainer {
  justify-self: center;
  width: toRem(450);
  height: toRem(42);

  &[data-lang='en'] {
    width: toRem(399);
    height: toRem(42);
  }

  &[data-lang='cn'] {
    width: toRem(250);
    height: toRem(46);
  }

  .primeiraTitle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    img {
      position: unset;
    }
  }
}
