.discountBanner {
  position: absolute;
  width: toRem(41);
  height: toRem(21.72);
  top: toRem(35);
  right: toRem(-4);

  img {
    z-index: 1;
    height: 100%;
    width: 100%;
  }

  .bonusText {
    position: absolute;
    top: toRem(-3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    padding: toRem(0) toRem(4);
  }

  span {
    font-family: PoetsenOne;
    font-size: toRem(9);
    font-weight: 400;
    line-height: toRem(20);
    letter-spacing: 0;
    text-align: center;
    color: #ffffff;
  }
}
