.leftSide {
  width: 110%;
  padding: toRem(10) 0 toRem(10) toRem(20);

  .leftSideContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .envelope {
      position: relative;
      background: url(/assets/commons/envelope/main_screen_open_envelope.png) center / 100% 100% no-repeat;
      height: 55%;
      width: 100%;

      .envelopeTopText {
        background: url(/assets/commons/envelope/envelope_top_text_bg.png) center / 100% 100% no-repeat;
        width: toRem(120);
        height: toRem(25);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;

        img {
          width: toRem(14);
          height: toRem(14);
          margin-right: toRem(5);
        }

        span {
          font-size: toRem(12);
          color: #cd7e46;
        }

        &.isSmallWebView {
          height: toRem(50);
          width: toRem(230);

          span {
            font-size: toRem(22);
          }
        }
      }

      .envelopeMiddleText {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

        .upContentContainer {
          padding: toRem(30) 0 0;

          h1 {
            width: 100%;
            font-size: toRem(37);
            font-weight: bolder;
            text-align: center;
            line-height: toRem(40);
            display: flex;
            align-items: center;
            justify-content: center;

            span {
              font-size: toRem(26);
              text-align: center;
              margin: 0 0 0 toRem(5);
              transform: translateY(toRem(2));
            }
          }

          h2 {
            font-size: toRem(12);
            font-weight: 700;
            width: 100%;
            white-space: nowrap;
            margin: toRem(2) 0 toRem(10);

            span {
              color: #fbfe0b;
            }

            &[data-lang='en'] {
              font-size: toRem(10);
            }

            &.webView {
              margin: toRem(2) 0 toRem(5);
            }

            &.isSmallWebView {
              margin: toRem(8) 0;
            }
          }

          .progressBarContainer {
            width: 100%;
            height: 20%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            .progressBarHolder {
              background: url(/assets/commons/envelope/check_progressbar.png) center / 100% 100% no-repeat;
              width: toRem(170);
              height: toRem(15);
              display: flex;
              align-items: center;
              justify-content: flex-start;
              position: relative;

              .progressBar {
                height: toRem(7);
                border-radius: toRem(2);
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: space-between;
                -webkit-transition: width 0.5s ease-in-out;
                -moz-transition: width 0.5s ease-in-out;
                -o-transition: width 0.5s ease-in-out;
                transition: width 0.5s ease-in-out;
              }

              .progressImgContainer {
                width: 100%;
                position: absolute;
                display: flex;

                img {
                  width: toRem(15) !important;
                  height: toRem(15) !important;
                }

                img:nth-of-type(1) {
                  margin-left: toRem(21);
                }

                img:nth-of-type(2) {
                  margin-left: toRem(14);
                }

                img:nth-of-type(3) {
                  margin-left: toRem(14);
                }

                img:nth-of-type(4) {
                  margin-left: toRem(14);
                }

                img:nth-of-type(5) {
                  margin-left: toRem(14);
                }
              }
            }

            .boxCheckContainer {
              background: url(/assets/commons/envelope/blue_white_box.png) center / 100% 100% no-repeat;
              display: grid;
              grid-template-rows: 58% 42%;
              height: toRem(27);
              max-height: toRem(27);
              min-width: toRem(48);
              margin-left: toRem(-1);
              z-index: 1;
              position: relative;

              img {
                width: toRem(9) !important;
                height: toRem(9) !important;
                margin: auto;
              }

              span {
                font-size: toRem(7) !important;
                line-height: toRem(7);
                padding: toRem(1.25) toRem(5) 0;
              }
            }
          }

          &.webView {
            flex: 1;
            display: grid;
            grid-template-rows: 50% 15% 35%;
            align-items: center;
            padding: toRem(20) 0 0;

            h1 {
              font-size: 6.8vw;

              span {
                font-size: 3.8vw;
              }
            }

            h2 {
              font-size: 1.9vw;
              margin: 0;
            }

            .progressBarContainer {
              scale: 1.4;
            }

            &.isIOS {
              .progressBarContainer {
                scale: 1.2;
              }
            }

            &.isSmallWebView {
              padding: toRem(50) 0 0;

              .progressBarContainer {
                scale: 1.6;
              }
            }

            &.isWindow {
              .progressBarContainer {
                @media (max-width: 600px) {
                  scale: 1;
                }
              }
            }
          }
        }

        .envelopeBtn {
          width: 100%;
          background: linear-gradient(180deg, #fff278 0%, #ffa100 100%);
          border: 2px solid linear-gradient(180deg, #fcffc5 0%, rgba(252, 255, 197, 0) 100%);
          border-radius: 60px;
          font-size: toRem(14);
          color: #9e2615;
          font-weight: 700;
          padding: toRem(8);
          margin-top: auto;

          &.disabled {
            background: linear-gradient(180deg, #f3b879 0%, #ffa100 100%);
          }

          &[data-lang='in'] {
            font-size: toRem(10);
          }

          &.webView {
            font-size: toRem(20);

            &[data-lang='in'] {
              padding: toRem(10) toRem(8);
              font-size: toRem(15);
            }
          }

          &.isSmallWebView {
            padding: toRem(14) toRem(8);
            font-size: toRem(24);

            &[data-lang='in'] {
              padding: toRem(16) toRem(8);
              font-size: toRem(19);
            }
          }

          &.isIOSneedNewLine {
            padding: toRem(4) toRem(8) !important;
            border-radius: 20px;
          }
        }
      }
    }
  }
}
