.rightPanel {
  @apply absolute z-10;
  width: toRem(497);
  height: toRem(270);
  right: toRem(31);
  top: toRem(65);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.132) 69.5%,
    rgba(255, 255, 255, 0.66) 100%
  );
  border: toRem(1.5) solid #ffffff66;
  border-radius: toRem(10);

  &.withdrawPage {
    @apply top-1/2 -translate-y-1/2;
    width: toRem(497);
    height: toRem(335);
  }
  &.rightPanelHistory {
    width: toRem(601);
  }
}
.rightPanelContent {
  @apply relative z-10;
  padding: toRem(12) toRem(16);
  min-height: toRem(270);
  height: 100%;

  &[data-route='/withdraw'] {
    min-height: toRem(335);
  }
}
