.loadingWrapper {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  .loadingIcon {
    position: relative;
    height: toRem(60);
    width: toRem(60);
  }
}
